body {
    font-family: 'Roboto', sans-serif;
    color: #003E52;
    text-align: center;

    /* ************** menu ************** */
    header {
        justify-content: space-evenly;
        display: flex;
        align-items: center;

        nav {
            ul {
                display: flex;

                li {
                    list-style: none;
                    margin: 15px;

                    a {
                        text-decoration: none;
                    }

                    a :hover {
                        color: #6cadc2;
                    }

                    a :visited {
                        color: #003E52;
                    }
                }
            }
        }
    }

    /* ************** section top-image ************** */
    #top-image {
        img {
            height: 80vh;
        }
    }

    /* ************** section Kome Waza ************** */
    #spices {
        display: flex;
        justify-content: center;

        #text-spices {
            margin-top: 80px;
            text-align: right;
            margin-right: 100px;
            flex-basis: 50%;
        }
    }

    /* ************** signature ************** */
#signature{
margin: 0 25nw;
    h1{
        border-bottom: #003E52 1px solid;
    }

    hr{
        width: 600px;
    }
}
}